<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/version1Style1.css">
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script type="text/javascript" src="/scripts/version1Script.js"></script>
    <script>
        const sticksNumber = <%= sticks %>;
        const sticksArray = [];

        if(sticksNumber == 4){
            sticksArray[0] = 1;
            sticksArray[1] = 3;
        } else if(sticksNumber == 9){
            sticksArray[0] = 1;
            sticksArray[1] = 3;
            sticksArray[2] = 5;
        } else if(sticksNumber == 16){
            sticksArray[0] = 1;
            sticksArray[1] = 3;
            sticksArray[2] = 5;
            sticksArray[3] = 7;
        }
    </script>

</head>
<body>
    <h1>Nim Game</h1>
    <div id="game-info">
        <h2>Game Information:</h2>
        <div id="game-info-row">
            <p><strong>Number of sticks:</strong> <span id="gameInfo"><%= sticks %></span></p>
            <p><strong>Level:</strong> <span id="level"><%= level %></span></p>
            <p><strong>Player 1:</strong> <span id="username"><%= username %></span></p>
            <p><strong>Player 2:</strong> <span id="pc">PC</span></p>
            <p><strong>Game type:</strong> <span id="gameType"><%= gameType %></span></p>
        </div>
    </div>
    <div id="game-container">
        <div id="sticks-box">
            <!-- Sticks will be dynamically added using JavaScript -->
        </div>
        <div id="controls">
            <button id="start-game" onclick="startGame()">Start Game</button>
            <button id="reset-game" onclick="resetGame()">Reset</button>
            <button id="make-move" onclick="makeMove()">Make Move</button>
            <button id="exit-game" onclick="exitGame()">Exit</button>
        </div>
    </div>
    <div id="game-shows">
        <p id="last-move"><strong>Last move:</strong></p>
        <p id="result"><strong>ME : 0 vs PC : 0</strong></p>
    </div>
</body>
</html>
