<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/version2Style.css">

    <script type="text/javascript">
        let player1, player2;

        const sticksNumber = <%= sticks %>;

    </script>
</head>
<body>
    <h1>Nim Game</h1>
    <div id="game-info">
        <h2>Game Information:</h2>
        <div id="game-info-row">
            <p><strong>Number of sticks:</strong> <span id="gameInfo"><%= sticks %></span></p>
            <p><strong>Level:</strong> <span id="level"><%= level %></span></p>
            <p><strong>Player 1:</strong> <span id="username"><%= username %></span></p>
            <p><strong>Player 2:</strong> <span id="pc">PC</span></p>
            <p><strong>Game type:</strong> <span id="gameType"><%= gameType %></span></p>
        </div>
    </div>
    

    <div id="game-container">
        <div id="sticks-box">
            <!-- Sticks will be dynamically added using JavaScript -->
        </div>
        <div id="controls">
            <button id="start-game" onclick="startGame()">Start Game</button>
            <button id="reset-game" onclick="resetGame()">Reset</button>
            <button id="make-move" onclick="makeMove()">Make Move</button>
            <button id="exit-game" onclick="exitGame()">Exit</button>
        </div>
    </div>

    <div id="game-shows">
        <p id="last-move"><strong>Last move:</strong></p>
        <p id="result"><strong><%= username %> : 0 vs PC : 0</strong></p>
    </div>
    <script type="text/javascript">
        function generateSticks() {
            const sticksBox = document.getElementById('sticks-box');
            const stickImageSrc = '../images/stick.png';

            for (let i = 0; i < sticksNumber; i++) {
                const button = document.createElement('button');
                button.className = 'stick-button';

                const stick = document.createElement('img');
                stick.src = stickImageSrc;
                stick.alt = 'Stick Image';

                button.appendChild(stick);
                sticksBox.appendChild(button);
            }

            const lineBreak = document.createElement('br');
            sticksBox.appendChild(lineBreak);

            const rules = document.createElement('p');
            rules.className = 'game-rules';
            rules.textContent = 'You can select 1, 2 or 3 sticks ✅';
            sticksBox.appendChild(rules);


            addClickEventListeners(); // Add click event listeners
        }

        function addClickEventListeners() {
            const stickButtons = document.querySelectorAll('.stick-button');

            stickButtons.forEach((stickButton, index) => {
                stickButton.id = `stick-${index + 1}`;
            });
        }


        window.onload = function () {
            generateSticks();
        };


        // handling the buttons -------------------------------------------------------------------

        function startGame() {
            console.log("start game");

            const randomValue = Math.random();
            let startingPlayer;
            if (randomValue < 0.5) {
                startingPlayer = 1;
            } else {
                startingPlayer = 2;
            }
            let isPlayer1Turn = false;
            let isPlayer2Turn = false;
            
            let currentRowClass = null; 

            if (startingPlayer === 1) {
                isPlayer1Turn = true;
                console.log("Player one turn");
                player1Move();
            } else if (startingPlayer === 2) {
                isPlayer2Turn = true;
                console.log("Player two turn");
                player2Move();
            }
        }

        function player1Move() {
            isPlayer1Turn = false;
            isPlayer2Turn = true;

            const stickButtons = document.querySelectorAll('.stick-button');

            stickButtons.forEach((stickButton) => {
                if (!stickButton.classList.contains('removed')) {
                    stickButton.removeEventListener('click', handleStickClick);
                    stickButton.addEventListener('click', handleStickClick);
                }
            });

            function handleStickClick(event) {
                event.preventDefault(); // Prevent the default action
                event.stopPropagation(); // Stop the event from propagating
                const stickButton = event.currentTarget; 

                console.log('clicked');
                const selectedSticks = document.querySelectorAll('.stick-button:not(.removed).selected');

                if (!stickButton.classList.contains('selected') && selectedSticks.length < 3) {
                    console.log('Allowing selection.');
                    stickButton.classList.add('selected');
                } else if (stickButton.classList.contains('selected')) {
                    console.log('Unselect');
                    stickButton.classList.remove('selected');
                } else if (selectedSticks.length >= 3) {
                    alert('You selected the maximum allowed number of sticks');
                }
            }
        }





        function player2Move() {
            isPlayer1Turn = true;
            isPlayer2Turn = false;

            // Now the algorithm starts
            const levelElement = document.getElementById('level');
            const levelValue = levelElement.textContent;

            if (levelValue === "Easy") {
                const stickButtons = document.querySelectorAll('.stick-button:not(.removed)');

                if (stickButtons.length > 1) {
                    const numberOfSticksToPick = Math.min(3, Math.floor(Math.random() * 3) + 1); // Random number between 1 and 3
                    console.log(numberOfSticksToPick);
                    const selectedSticks = new Set();

                    while (selectedSticks.size < numberOfSticksToPick) {
                        const randomStick = stickButtons[Math.floor(Math.random() * stickButtons.length)];
                        selectedSticks.add(randomStick);
                    }

                    selectedSticks.forEach(selectedStick => {
                        selectedStick.classList.add('selected');
                    });
                }
            }

            else if (levelValue === 'Medium') {
                console.log("You are medium");
            } else if (levelValue === 'Hard') {
                console.log("You are hard");
            }

            makeMove();
        }


        function makeMove() {
            // Get the current arr class 
            const selectedSticks = document.querySelectorAll(`.stick-button.selected`);

            if (selectedSticks.length) {
                selectedSticks.forEach( button => {
                    button.classList.remove('selected');
                    button.classList.add('removed');
                    button.disabled = true;
                    button.style.display = 'none';
                });
            }                
            else {
                // alert('Invalid number of sticks selected');
            }
            
            
            const totalSticks = document.querySelectorAll(`.stick-button:not(.removed)`);
            const gameOver = totalSticks.length === 1;

            let player1Score = 0;
            let player2Score = 0;


                
            if(gameOver){
                //game finished
                if (isPlayer2Turn) {
                    alert('Game Over! Player 1 wins!');
                    player1Score++;
                } else {
                    alert('Game Over! Player 2 wins!');
                    player2Score++;
                }
                    resetGame(player1Score, player2Score);
            } else {
                // Check whose row is selected (player 1's or player 2's turn)
                if (isPlayer1Turn) {
                    console.log('player1 now');
                    player1Move();
                } else {
                    console.log('player2 now');
                    player2Move();
                }
            }



        }

        function updateScores(score1, score2) {
            const resultValue = document.getElementById('result');
            resultValue.innerHTML = `Player1 : ${score1} vs PC : ${score2}`;
        }

        function resetGame(score1, score2) {
            console.log('Reset Game');

            // Clear existing sticks
            const sticksBox = document.getElementById('sticks-box');
            sticksBox.innerHTML = '';
            // Generate new sticks
            generateSticks();

            // display the result
            updateScores(score1, score2);
        }
       
        function exitGame() {
            fetch('/game/logout', {
                method: 'GET', 
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (response.ok) {
                    window.location.href = '/game'; 
                } else {
                    console.error('Logout request failed');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }


    </script>
</body>
</html>
