<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/version2Style.css">
    <script>
        const sticksNumber = <%= sticks %>;
    </script>
    <script type="text/javascript" src="/scripts/version2Script.js"></script>
    
</head>
<body>
    <h1>Nim Game</h1>
    <div id="game-info">
        <h2>Game Information:</h2>
        <div id="game-info-row">
            <p><strong>Number of sticks:</strong> <span id="gameInfo"><%= sticks %></span></p>
            <p><strong>Level:</strong> <span id="level"><%= level %></span></p>
            <p><strong>Player 1:</strong> <span id="username"><%= username %></span></p>
            <p><strong>Player 2:</strong> <span id="pc">PC</span></p>
            <p><strong>Game type:</strong> <span id="gameType"><%= gameType %></span></p>
        </div>
    </div>
    

    <div id="game-container">
        <div id="sticks-box">
            <!-- Sticks will be dynamically added using JavaScript -->
        </div>
        <div id="controls">
            <button id="start-game" onclick="startGame()">Start Game</button>
            <button id="reset-game" onclick="resetGame()">Reset</button>
            <button id="make-move" onclick="makeMove()">Make Move</button>
            <button id="exit-game" onclick="exitGame()">Exit</button>
        </div>
    </div>

    <div id="game-shows">
        <p id="last-move"><strong>Last move:</strong></p>
        <p id="result"><strong>Me : 0 vs PC : 0</strong></p>
    </div>
</body>
</html>
